body, html {
    height: 100%;
    color:white;
    font-size: 20px;
    background-color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1{
    font-size: 40px;
    font-weight: bold;
  }

  .bg {
    background-image: url(".././assets/bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    background-size: cover;
    overflow: auto;
  }
  .table{
    font-size: 14px;
  }
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: black;
    color: #7d1111; 
    border-color: #7d1111;
  }
  .con{
    height:100%;
    background: rgba(102,99,100, 0.4);
    overflow: auto;
  }
  tbody>tr>:nth-child(2){
    font-weight: bold;
    text-align:center;
   }
  .input-group-addon{
    color:whitesmoke; 
    background-color: #b60404;
    text-align:center;
    align-items: center;
    width: 50px;
    size: 5px;
    padding: 5px;
  }
  .btn_login{
    color: whitesmoke;
    width: 100%;
    background-color: #b60404;
    border-color: whitesmoke;
    padding: 10px;

  }
  .reg{
    color: #b1fed4;
  }